<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

Add components here 
<div>

  <h1> Mission Planning Dashboard</h1>

  <h3>Mission Name:Mars 2030</h3>
  <h3>Carrier Rocket:Plasma Max</h3>
  
  <h3>Crew</h3>
  <ul>
    <li>Jessica Watkins</li>
    <li>Raja Chari</li>
    <li>Jasmin Moghbeli</li>
  </ul>
  <h3>Equipment</h3>
  <ul>
    <li>Habitat dome</li>
    <li>Drones</li>
    </li>Food containers</li>
  </li>Oxygen tanks
  </ul>


</app-header></app-header>
<div class="box">
  <app-crew></app-crew>
  <app-equipment></app-equipment>
</div>

<h3>Experiments</h3>
<ul>
  <li>Mars soil sample</li>
  <li>Plant growth in habitat</li>
  <li>Human bone density</li>
</ul>